:root{
  --white:#FFFFFF;
  --mint-cream:#EFFFFA;
  --alice-blue: #e5ecf4;
  --periwrinkle: #C3BEF7;
  --slate-blue: #8A4FFF;
}

body,p {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

.overlay {
  background-color: var(--slate-blue);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 60%;
}

.resume {
  font-size: 20px;
  border: 3px solid var(--alice-blue);
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
}

.resume:hover {
  color: var(--slate-blue);
  background-color: var(--alice-blue);
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bg-image{
  background-image: url(asset/portraitLG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height:100vh;
  position: relative;
}

.landing-page {
  position: relative;
  width: 100%;
  /* height:100%; */
  /* max-width: 100vw; */
  color: var(--alice-blue);
}

.text {
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 45%;
  left: 5%;
  /* max-width: fit-content;s */
}

.arrow {
  position: fixed;
  bottom: 20px;
  left: 50%;
}

.ping {
  animation: ping 0.8s ease-in-out infinite both;
}

@keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }

  80% {
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

.project-page{
  background-color: var(--periwrinkle);
}

nav{
  position: fixed;
  top:0;
  width:100%;
}

nav ul{
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}